*.swp
**/coverage/
**/.yardoc/
**/doc/
guides/output
guides/staging
doc/
tags
gems.tags
.yardoc
.idea
.redcar
**/log/*
.DS_Store
**/spec/dummy/log/*
**/spec/dummy/tmp/*
yuidoc/output/*
yuidoc/parsed/*
yuidoc/**/*.pyc
*.sqlite3
**/.sass-cache
